@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

.check input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
}

.check input:checked {
  background-color: cyan;
}

.check input:checked::before {
  position: absolute;
  content: "✔";
  color: black;
  font-size: 0.75rem;
  font-weight: 100;
  left: 50%;
  transform: translateX(-50%);
  top: -1.5px;
}